doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/app.min.css')
    script(src="/js/app.min.js")
  body
    main(style="padding-top: 50px;")
      block content
    